<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
          rel="stylesheet">
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <style type="text/css">
body {
	background-color: #3D3D3D;
	color: white;
}

nav {
	background-color: darkgreen;
	color: white;
	font-weight: bold;
}

.card {
	display: flex;
	flex-direction: column;
}

.card p {
	font-size: 1.5rem;
}

#mySecretInput {
	z-index: -10;
}

h1, .h1 {
	font-size: 4rem;
}

h3, a, .h3 {
	font-size: 3rem;
	color: darkgreen;
	text-decoration: none;
}
</style>
</head>

<body>
<div th:replace="fragments/navbar"></div>
<!--<h2 th:text="${existsmsg}" style="color: red"></h2>-->
<h1 class="h1">Welcome to the club, <span th:text="${username}"></span></h1>

<br>

<h3 class="h3">
    We created a <a href="./wallet/">Wallet</a> for you and initialized it
    with 1,000 beancoin.
    Note that it will be available after the transfer transaction has been mined.
    Why don't you go mine a block?
</h3>
<br>
<br>
<a href="./">Home</a>

</body>
</html>