<nav class="text-4xl flex justify-around text-white">
    <a class="text-white" th:href="@{/}">Home</a>
    <a class="text-white" th:href="@{/blockchain}">Blockchain</a>
    <th:block th:if="${isloggedin} == false">
        <a class="" th:href="@{/login}">Login</a> <a class="" href="./register">Register</a>
    </th:block>
    <th:block th:if="${isloggedin} == true">
        <a class="text-white" th:href="@{/wallet/}">Wallet</a>
        <a class="text-white" th:href="@{/logout}">Logout</a>
    </th:block>
</nav>
