<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Index Page</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <style type="text/css">
    </style>
</head>
<body class="text-white">
<div th:replace="fragments/navbar"></div>


<!--<a th:href="/swagger-ui/index.html">Click here to view our API</a>-->
<th:block th:if="${isloggedin == false }">
    <div class="m-auto text-center">
        <!--        <c:if test="${failed == true}">-->
        <!--            <p class="text-red-300">${msg}</p>-->
        <!--        </c:if>-->

        <div class="heading">
            <h1 class="salutations">
                Welcome to the blockchain.
            </h1>
            <p class="text-2xl m-auto text-center text-red-700">You are not logged in.</p>
        </div>
        <h3 class="text-4xl">Please <a class="text-yellow-600 text-4xl" href="./register">Register</a>
            or <a class="text-yellow-600" href="./login">Login</a> to use the services</h3><br>
        <h3 class="text-4xl text-yellow-600"><a th:href="@{/swagger-ui/index.html}">..View the API</a></h3><br>
        <h3 class="text-4xl">..Or just look around</h3>
        <div class="menu-ctn">


            <a class="text-yellow-600" href="./blockchain">Our live blockchain status</a> <a
                class="text-yellow-600" href="./transactionpool">Live Transaction Pool (unmined
            transactions)</a>

        </div>
    </div>
</th:block>

<!-- 	<img class="m-auto rounded-full" alt="coffee bean close up"
    src="./resources/bean.png"> -->


<th:block th:if="${isloggedin} == true">


    <th:block th:if="${user != null}">
        <div class="text-4xl flex justify-around text-white">
            USER EXISTS
        </div>
        <!--        <h1 th:text="${user.username}" class="h1"></h1>-->
    </th:block>


    <h1 class="h1">Welcome back, <span th:text="${username}"></span></h1>
    <h2 class="h2">Some things you can do</h2>

    <a class="text-4xl text-green-700 hover:text-6xl hover:text-green-600" href="./wallet/">Open Your wallet</a> <br>
    <a class="text-4xl text-green-700 hover:text-6xl hover:text-green-600" href="./wallet/transact">Make a
        Transaction</a> <br>
    <a class="text-4xl text-green-700 hover:text-6xl hover:text-green-600" href="./blockchain">Explore our live
        blockchain</a> <br>
    <a class="text-4xl text-green-700 hover:text-6xl hover:text-green-600" href="./blockchain/mine">Mine a Block</a>
    <br>
    <a class="text-4xl text-green-700 hover:text-6xl hover:text-green-600" href="./transactionpool">View the live
        Transaction Pool</a> <br>

</th:block>
<br><br><br><br><br><br>
<div>
    <h4 class="text-2xl text-green-700 ">This is but a humble front end</h4>
    <a class="text-m text-green-700 hover:text-xl hover:text-green-600 " th:href="@{/swagger-ui/index.html}">Click
        here to view the API spec</a>
</div>

</body>
</html>