<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transact with us</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--    <link th:href="@{/styles/main.css}" rel="stylesheet"/>-->
    <style>
nav {
	background-color: darkgreen;
	color: white;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
	background-color: gray;
	color: white;
	font-weight: bold;
	font-size: 2rem;
}

input {
	border: 1px solid grey;
	margin: 4px 0 4px 4px;
	color: black;
}

.note {
	margin-bottom: 10rem;
}

    </style>
</head>

<body class="mx-auto text-center">
<div th:replace="fragments/navbar"></div>

<!--<nav class="flex justify-around mb-10 text-2xl">-->

<!--    <a href="/">Home</a> <br> <a href="/blocks/blockchain/">Our-->
<!--    Chain</a> <br> <a href="/transactionpool/">Transaction-->
<!--    Pool</a> <br>-->
<!--</nav>-->
<h1 class="text-5xl mb-8">Transact on the blockchain</h1>
<h2 class="text-red">Current Balance: <span th:text="${wallet.balance}"></span></h2>
<form th:action="@{/wallet/transaction}" method="get" class="border-gray-200 border-2 gap-2">
    <div>Address to send money to</div>
    <div><input type="text" name="address"></div>
    <div>Amount to send</div>
    <div><input type="text" name="amount" ></div>
    <div><input type="submit" name="transact"
                class="mb-3 rounded-full my-4 shadow bg-green-700 px-4 py-2 text-white hover:bg-green-600"></div>
</form>

<!--<form action="../transaction" class="border-gray-200 border-2 gap-2">-->
<!--    <div>Address to send money to</div>-->
<!--    <div><input type="text" name="address"></div>-->
<!--    <div>Amount to send</div>-->
<!--    <div><input type="text" name="amount"></div>-->
<!--    <div><input type="submit" name="transact"-->
<!--                class="mb-3 rounded-full my-4 shadow bg-green-700 px-4 py-2 text-white hover:bg-green-600"></div>-->
<!--</form>-->

<br>
<br>
<br>


</body>
</html>