<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Login</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
          rel="stylesheet">
    <style type="text/css">
body {
	background-color: darkgray;
}
nav {
	background-color: darkgreen;
	color: white;
	font-weight: bold;
}
</style>
</head>

<body>

<h1 class="h1">Your Wallet</h1>

<div th:replace="fragments/navbar"></div>
<!-- 	<nav> <a href="./register">New here?</a> <a href="./">Home</a> </nav> -->

<div
        class="login-form text-center mx-auto my-4 w-64 flex shadow-lg flex-col bg-cover bg-center justify-content bg-white p-6 rounded pt-8 pb-8">
    <div class="text-center text-gray-500 mb-6">
        <h2>Log in</h2>
    </div>
    <div>



    </div>
    <div>
        <p class="mt-4 text-gray-500 text-sm">
            Need an account? <a href="./register"
                                class="no-underline text-green-500 hover:text-green-400">Register
        </a>
        </p>
    </div>
</div>
</body>

</html>



