<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<!-- CSS style to set alternate table
            row using color -->
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: Lightgreen;
}

tr:nth-child(odd) {
	background-color: #EFEFEF;
}

</style>
<body>
<div th:replace="fragments/navbar"></div>
<h1>Transaction Pool</h1>
<h2>Note this displays transactions broken down by individual, for
    uniform display in table format. It is not displayed in bundles of
    multiple recipients per sender, as processed in the blockchain.</h2>
<h2>You can get the original JSON format by submitting a POST
    request to this same endpoint with any given payload ||| {} |||</h2>


<table border="2">
    <tr>
        <td>Sender Address</td>
        <td>Beginning Balance</td>
        <td>Recipient Address</td>
        <td>Amount</td>
        <td>Return balance</td>
        <td>Timestamp</td>
        <td>Transaction ID</td>
    </tr>


    <th:block th:each="t : ${transactionpoollist}">
        <th:block th:each="recipientAdds : ${t.output.keySet()}">
            <th:block th:if="${recipientAdds} != ${t.input.address}">
                <tr>
                    <td th:text="${t.input.address}"></td>
                    <td th:text="${t.input.amount}"></td>
                    <td th:text="${recipientAdds}"></td>
                    <td th:text="${t.output.get(recipientAdds)}"></td>
                    <td th:text="${t.input.amount - t.output.get(recipientAdds)}"></td>
                    <td th:text="${t.input.timestamp}"></td>
                    <td th:text="${t.uuid}"></td>
                </tr>
            </th:block>
        </th:block>
    </th:block>
    <!--    <c:forEach items="${transactionpoollist}" var="t">-->
    <!--        <c:forEach items="${t.getOutput().keySet()}" var="recipientAdds">-->
    <!--            <c:if test="${ !recipientAdds.equals(t.getInput().get(\" address\-->
    <!--            "))}">-->
    <!--            <tr>-->
    <!--                <td>${t.getInput().get("address")}</td>-->
    <!--                <td>${t.getInput().get("amount")}</td>-->
    <!--                <td>${recipientAdds}</td>-->
    <!--                <td>${t.getOutput().get(recipientAdds)}</td>-->
    <!--                <td>${t.getInput().get("amount") - t.getOutput().get(recipientAdds)}</td>-->
    <!--                <td>${t.getInput().get("timestamp")}</td>-->
    <!--                <td>${t.getUuid()}</td>-->
    <!--            </tr>-->
    <!--            </c:if>-->
    <!--        </c:forEach>-->
    <!--    </c:forEach>-->

</table>
<br>

</body>
</html>