<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Unmined Transaction Pool</title>
<!--    <link th:href="@{/styles/tailwind.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/styles/main.css}" rel="stylesheet"/>-->
</head>
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: Lightgreen;
}

tr:nth-child(odd) {
	background-color: #EFEFEF;
}

</style>
<body>
<div th:replace="fragments/navbar"></div>
<h1>Transaction Pool</h1>
<h2>See transactions in JSON by submitting POST request to this endpoint with empty object: {}</h2>


<table border="2">
    <tr>
        <td>Sender Address</td>
        <td>Beginning Balance</td>
        <td>Recipient Address</td>
        <td>Amount</td>
        <td>Return balance</td>
        <td>Timestamp</td>
        <td>Transaction ID</td>
    </tr>


    <th:block th:each="t : ${pool}">
        <th:block th:each="adds : ${t.outputMap.keySet()}">
            <th:block th:if="${adds} != ${t.inputMap.address}">
                <tr>
                    <td th:text="${t.inputMap.address}"></td>
                    <td th:text="${t.inputMap.amount}"></td>
                    <td th:text="${adds}"></td>
                    <td th:text="${t.outputMap.get(adds)}"></td>
                    <td th:text="${t.inputMap.amount - t.outputMap.get(adds)}"></td>
                    <td th:text="${t.inputMap.timestamp}"></td>
                    <td th:text="${t.uuid}"></td>
                </tr>
            </th:block>
        </th:block>
    </th:block>
</table>
<br>

</body>
</html>